<!--SECTION EXPERIENCES-->

	<section id="section3" class="cd-section">
		<div class="container">
          <div class="row">
            <div class="col-md-12">
               <div class="box-content">
		        <h1>Experiences</h1>
                <div class="col-md-6">
                    <div class="box-text">
                            <h2>Summary</h2>
                            <p>Passionate Web Developer specializing in front end development. Experienced with all stages of the development cycle for dynamic web projects. Well-versed in AngularJs and MVC framework. Results-oriented Software Engineer, comfortable switching between architecture, design and implementation. 
                            </p>
                            <p class="slogan">" Creativity requires the courage to let go of certainties "</p>
                            
                        </div>
                </div>
                <div class="col-md-6">
				    <div class="skills-area triggerAnimation animated" data-animate="fadeInLeft">
					
                        <div class="box-text">
                        <h2>MY Skills</h2>
					    <div class="skills-box">
							    <div class="skills-progress">
								    <p>Angular js<span>80%</span></p>
								    <div class="meter nostrips develope">
									    <p style="width: 80%"></p>
								    </div>
								    <p>HTML5<span>80%</span></p>
								    <div class="meter nostrips design">
									    <p style="width: 90%"></p>
								    </div>
								    <p>CSS3<span>65%</span></p>
								    <div class="meter nostrips branding">
									    <p style="width: 65%"></p>
								    </div>
								    <p>JavaScript<span>75%</span></p>
								    <div class="meter nostrips web-applications">
									    <p style="width: 75%"></p>
								    </div>
							    </div>
						    </div>
                        </div>
				    </div>
			    </div>
              </div>
            </div>
		  </div>
          <div class="row">
               <div class="col-md-12">
                <div class="box-content experiences">
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>FRONT END DEVELOPER | WIPRO TECHNOLOGIES<span class="data">2016 - Present</span></h2>
						<h3><i class="fa fa-briefcase"></i> Client- Airtel</h3>
                        <p><ul>
							<li>Translated abstract requirements into concrete user flows and interaction designs.</li>
							<li>Presented pros and cons of various design approaches to design teams and management.</li>
							<li>Drove the alignment of business requirements, user-centered design methodology and technology factors to create successful UI/UX designs.</li>
							<li>Conducted usability testing and integrated feedback into revisions.</li>
							<li>Considered localization, scalability and ease of maintenance in all solutions.</li>
							<li>Solicited feedback and validation from business and technical team stakeholders. </li>
							<li>Reliably kept senior management abreast of project statuses.</li>
							<li>Team Lead for the group which developed the Mobile Rendition of business reports as required by customer(Airtel). The outcome was appreciated by the BI Head from the customers's end and was well received by the team. The team received the Pinnacle Award for the Quarter at Communications level.</li>
							<li>Generated concepts and initial design explorations for new features and other product aspects.
	Worked closely with product managers, visual designers and development team to appropriately evolve designs from concept to launch.</li>
							<li>Eliminated bugs interfering with user experiences, generating positive customer feedback comments.</li>
							
							
							
						</ul>
	
	
	
	
	
	
	
	
	
</p>
                   </div>
                   
                  
                 </div>
              </div>
         </div>
      </div>
	</section><!-- cd-section -->