<section id="section1" class="cd-section">
      <div class="container">
          <div class="row">
           <div class="col-md-12">
             <div class="box-content">
		        <h1> WHO I AM </h1>
                <div class="col-md-4">
                    <div class="box-text">
                        <h2>Summary</h2>
                        <p>Passionate Web Developer specializing in front end development. Experienced with all stages of the development cycle for dynamic web projects. Well-versed in AngularJs and MVC framework. Results-oriented Software Engineer, comfortable switching between architecture, design and implementation.</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/office.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>Personal data</h2>
                        <p>Date of birth: 14/09/1994</p>
                        <p>Phone: +91-9650210150</p>
                        <p>E-mail:shubham.agarwal9@wipro.com</p>
                        <h2>Education</h2>
                        <p>JIIT,Sec-62,Noida,India</p>
                        
                    </div>
                 </div>
             </div><!--close box content-->
		  </div>
        </div><!--close row-->
      </div><!--close container-->
      <div class="parallax1">
        <div class="overlay">
            <div class="container">
              <div class="row">

               <div class="col-md-12">
                <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>WHAT I DO</h2>
                        <p>Passionate Web Developer specializing in front end development. Experienced with all stages of the development cycle for dynamic web projects. Well-versed in AngularJs and MVC framework. Results-oriented Software Engineer, comfortable switching between architecture, design and implementation.</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object1.jpg" alt="" />
                    </div>
                 </div>
		      </div>
          </div>
        </div>
       </div>
      </div>
	</section><!-- cd-section -->